<div id="hints">
  Hints:
  <ul>
    <li>Translation's length should be similar to the source text length.</li>
    <li>It's neccessary to check PDF reports when translations are finished.</li>
  </ul>
</div>
